* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(15, 23, 42, 1);
}

.header {
  display: flex;
  flex: 1;
  padding: 20px 100px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(84, 83, 83);
}

.header h3 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h3 > .hu {
  color: rgb(7, 224, 224);
}

.header-anchor {
  display: flex;
  gap: 20px;
}

.header-anchor > a {
  color: white;
  text-decoration: none;
}

.header-anchor > a:hover {
  color: rgb(7, 224, 224);
  transition-duration: 1s;
}

/* ================================== */
div span {
  color: rgb(7, 224, 224);
}

h3 {
  color: white;
}

.project > h3 {
  height: 70px;
  flex: 1;
  /* border: 2px solid black; */
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
}

/* ============================== */

.project-container-one {
  height: auto;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* ========box-one========= */
.box-one {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(156, 153, 156);
  border-radius: 20px;
}

.apple {
  border: none;
  height: 170px;
  width: 350px;
  color: rgb(7, 224, 224);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.box-one h3 {
  padding-left: 20px;
  padding-top: 30px;
}

.box-one p {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
}

.box-one h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

/* =========box-two============ */
.box-two {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(156, 153, 156);
  border-radius: 20px;
}

/* .apple {
  height: 180px;
  width: 350px;
  border: 2px solid black;
  color: rgb(7, 224, 224);
} */

.box-two h3 {
  padding-left: 20px;
  padding-top: 30px;
}

.box-two p {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
}

.box-two h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

/* ========box-three========= */

.box-three {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(156, 153, 156);
  border-radius: 20px;
}

/* .apple {
  height: 180px;
  width: 350px;
  border: 2px solid black;
  color: rgb(7, 224, 224);
} */

.box-three h3 {
  padding-left: 20px;
  padding-top: 30px;
}

.box-three p {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
}

.box-three h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

/* ========project-container-two========= */
.project-container-two {
  height: auto;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* ========box-one========= */
.containerTwo-one {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(156, 153, 156);
  border-radius: 20px;
  margin-top: 30px;
}

.apple {
  border: none;
  height: 170px;
  width: 350px;
  color: rgb(7, 224, 224);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.containerTwo-one h3 {
  padding-left: 20px;
  padding-top: 30px;
}

.containerTwo-one p {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
}

.containerTwo-one h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

/* =========box-two============ */
.containerTwo-two {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(156, 153, 156);
  border-radius: 20px;
  margin-top: 30px;
}

/* .apple {
  height: 180px;
  width: 350px;
  border: 2px solid black;
  color: rgb(7, 224, 224);
} */

.containerTwo-two h3 {
  padding-left: 20px;
  padding-top: 30px;
}

.containerTwo-two p {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
}

.containerTwo-two h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

/* ========box-three========= */

.containerTwo-three {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(156, 153, 156);
  border-radius: 20px;
  margin-top: 30px;
}

/* .apple {
  height: 180px;
  width: 350px;
  border: 2px solid black;
  color: rgb(7, 224, 224);
} */

.containerTwo-three h3 {
  padding-left: 20px;
  padding-top: 30px;
}

.containerTwo-three p {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
}

.containerTwo-three h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

/* =====project-container-three===== */

.project-container-three {
  height: auto;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* ========box-one========= */

.containerThree-one {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(156, 153, 156);
  border-radius: 20px;
  margin-top: 30px;
}

.apple {
  border: none;
  height: 170px;
  width: 350px;
  color: rgb(7, 224, 224);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.containerThree-one h3 {
  padding-left: 20px;
  padding-top: 30px;
}

.containerThree-one p {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
}

.containerThree-one h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

/* =========box-two============ */
.containerThree-two {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(156, 153, 156);
  border-radius: 20px;
  margin-top: 30px;
}

/* .apple {
  height: 180px;
  width: 350px;
  border: 2px solid black;
  color: rgb(7, 224, 224);
} */

.containerThree-two h3 {
  padding-left: 20px;
  padding-top: 30px;
}

.containerThree-two p {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
}

.containerThree-two h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

/* ========box-three========= */

.containerThree-three {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(156, 153, 156);
  border-radius: 20px;
  margin-top: 30px;
}

/* .apple {
  height: 180px;
  width: 350px;
  border: 2px solid black;
  color: rgb(7, 224, 224);
} */

.containerThree-three h3 {
  padding-left: 20px;
  padding-top: 30px;
}

.containerThree-three p {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
}

.containerThree-three h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

/* ---------- Footer-----------  */

.footer > p{
  height: 50px;
  flex: 1;
  text-align: center;
  background-color: rgb(2,6,23,1);
  margin-top: 20px;
  color: white;
  font-size: 20px;
  padding-top: 33px;
}